/* 
name: Andrew Pierson
Styles sheet for bio.html
*/

body {
    background-color: #a9cce3;
    text-align: center;
    margin: 0;
	font-family: Georgia, serif;
}

h1 {
		text-align: center;
}

img {
	margin-left: auto;
	margin-right: auto;
	width: 22.5%;
    height: auto;
}

ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.bigfont {
	font-size: 2em;
}

.para {
	padding-top: 0px;
    padding-bottom: 0px;
	padding-left:125px;
    padding-right: 125px;
	margin-left: 12.5%;
	margin-right: 12.5%;
}

#updated { 
	font-size: 0.50em;
	text-align:right;
}


