/* 
name: Andrew Pierson
Styles sheet for index.html
*/

body {
	background-color: lightblue;
	text-align: center;
	font-family: Georgia, serif;
}

h1 {
		text-align: center;
}

img {
	margin-left: auto;
	margin-right: auto;
	width: 22.5%;
    height: auto;
}

/*https://getcssscan.com/blog/how-to-remove-bullets-from-li-css#:~:text=By%20default%2C%20browsers%20add%20bullets,type%3A%20none%20to%20your%20code.&text=This%20code%20targets%20the%20CSS,none%20to%20remove%20the%20bullets.*/
ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#updated { 
	font-size: 0.50em;
	text-align:right;
}